.mainDiv {
  width: 100%;
  height: 100vh;
}

.rowDiv {
  /* width: 100%; */
  height: 100%;
}

.sideBar {
  background-color: #d9d9d9;
  color: black;
  padding: 1.2rem 0.25rem;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.sidebarTitle {
  text-align: center;
  font-size: 1.5rem;
}

.homeDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.homeDivTitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.dragger {
  max-width: 70%;
  margin-bottom: 1rem;
}

.bottomButtons {
  position: fixed;
  bottom: 0;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.receiveviacodeBtnDiv {
  margin-bottom: 10px;
}

.tabDiv {
  margin-top: 20px;
}

.uploadBtn {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.profileDiv {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user {
  /* margin-top: 15px;
  margin-right: 15px; */
  margin-right: 0.25rem;
}

/* .receiveviacodeBtn {
  background-color: rgb(212, 109, 212);
  color: white;
} */

.fileDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 0.75rem;
  border-bottom: 1px solid #f2f2f2;
}

.fileDiv:nth-last-child() {
  border-bottom: none;
}

.downloadBtn:hover {
  cursor: pointer;
}
